<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/pro-01.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">CVPR论文爬取与词云展示</h2>
                                <p>基于Python爬取CVPR论文，根据关键词通过ECharts生成词云</p>
                                <a href="https://github.com/Inazuma429/CVPRlw" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/pro-02.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">疫情可视化</h2>
                                <p>基于ECharts，Java，JavaScript的疫情可视化</p>
                                <a href="https://github.com/Inazuma429/YiQing" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->